/Web/client/node_modules
/Web/client/.next
/Web/client/next.jsconfig.mjs
/Web/client/jsconfig.jsconfig
/Web/client/package-lock.json


/Web/server/node_modules
/Web/server/Config/config.env
/Web/server/package-lock.json

/Web/provider/node_modules
/Web/provider/.next
/Web/provider/next.jsconfig.mjs
/Web/provider/jsconfig.jsconfig
/Web/provider/package-lock.json

/Web/server2/node_modules
/Web/server2/Config/config.env
/Web/server2/package-lock.json